/* index.css */
body, html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.animated-image {
  position: absolute;
  animation: moveImage 5s infinite alternate;
}

@keyframes moveImage {
  from {
    transform: translate(-10%, -10%);
  }
  to {
    transform: translate(10%, 10%);
  }
}